@page "{id:int?}"
@model TaskTracker.WebUI.Pages.Items.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemModel.Id" />

            <div class="form-group">
                <label asp-for="ItemModel.Name" class="control-label"></label>
                <input asp-for="ItemModel.Name" class="form-control" />
                <span asp-validation-for="ItemModel.Name" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ItemModel.IsCompleted" /> @Html.DisplayNameFor(model => model.ItemModel.IsCompleted)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="ItemModel.DueDate" class="control-label"></label>
                <input asp-for="ItemModel.DueDate" class="form-control" />
                <span asp-validation-for="ItemModel.DueDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemModel.ContextId" class="control-label"></label>
                <select asp-for="ItemModel.ContextId" asp-items="Model.Contexts"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Contexts/Index" asp-route-contextId="@Model.ItemModel.ContextId">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
